.mail{
    display: flex;
    align-items: center ;
    justify-content: space-between ;
    width: 100%;
   
}
.mail:hover{
    color: black;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0px rgb(179, 179, 179);
    

}


.left{ 
    flex: 0.3;
    width: 100%;
    display: flex;
   align-items: center;
    color:gray;
}

.left>p{
    color: black;
    width: 100%;
    margin: 0 0 0 30px !important;
    text-overflow: ellipsis;
    font-weight: 600;
}
.mail>div>p{
    flex: 0.2;
    margin: 0 7px 0 7px;
}

.di{
    flex:0.4;
    width: 100%;
    margin: 0%;
    overflow: hidden;
    cursor: pointer;
}
.di>div{
 display: flex;
 align-items: baseline;
 max-width: 120vh;
  
   

}
.di>div>p{
    white-space: nowrap;
    margin: 0;
    font-size: 15px;
    font-weight:500;
}
#desc{
    max-width: 100%;
    margin: 0;
    color:gray;
    font-size: 15px;
    font-weight: 300; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tym{
    flex: 0.2;
    color:gray;
    font-size: 12px;
    font-weight: 380; 
}
.tym>p{
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
}
@media screen and (max-width:680px) {
    .di{display:none; }
    .left{flex:.6;
        width: 100%;
        overflow:hidden;
        }
    .tym{flex: .3;}
}