.mail{
    display: flex;
    align-items: center ;
    box-sizing: border-box;
    padding:  0 25px 0 8px;
   
}
.mail:hover{
    color: black;
    box-sizing: border-box;
    box-shadow: 0 0 2px 0px rgb(179, 179, 179);
    

}


.left{ 
    display: inherit;
    flex: 0.2;
   align-items: center;
    color:gray;
}

.left>p{
    color: black;
    margin: 0 0 0 30px !important;
    font-weight: 600;
}
.mail>div>p{
    flex: 0.2;
    margin: 0 7px 0 7px;
}

.di{
    flex:0.65;
    width: 50%;
    margin: 0%;
    padding: 0 30px 0 60px;
    cursor: pointer;
}
.di>div{
 display: flex;
 align-items: baseline;
 max-width: 120vh;
  
   

}
.di>div>p{
    white-space: nowrap;
    font-size: 15px;
    font-weight:500;
}
#desc{
    max-width: 100%;
    color:gray;
    font-size: 15px;
    font-weight: 300; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tym{
    flex: 0.2;

    color:gray;
    font-size: 12px;
    font-weight: 380; 
}