.mail{
    display: flex;
    align-items: center ;
    padding:  0 25px 0 8px;
   
}
.mail:hover{
    color: black;
    border: solid rgb(163, 163, 163) thin;
    border-bottom: solid whitesmoke;
}


.left{ 
    display: inherit;
    flex: 0.2;
   align-items: center;
    color:gray;
}

.left>p{
    color: black;
    margin: 0 0 0 30px !important;
    font-weight: 600;
}
.mail>div>p{
    flex: 0.2;
    margin: 0 7px 0 7px;
}

.di{
    flex:0.8;
    margin: 0%;
    padding: 0 30px 0 60px;
}
.di>div{
 display: flex;
 align-items: baseline;
 max-width: 120vh;
  
   

}
.di>div>p{
    white-space: nowrap;
    font-size: 15px;
    font-weight:500;
}
#desc{
    color:gray;
    font-size: 15px;
    font-weight: 300; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tym{
    color:gray;
    font-size: 12px;
    font-weight: 380; 
}