.feed{
    flex:0.84;
}

.feedheader{
    display: flex;
    width: 100%;
    background-color:white;
    justify-content: space-between;
    border-bottom: whitesmoke solid;
    object-fit: contain;
    position: sticky;
    z-index:999;
}

.feedheaderleft{
    display: flex;
    align-items: center;
    color: gray;
    margin: 0 0 0 8px;

}
.feedheaderleft>.MuiSvgIcon-root,.bt{ 
    width:  22px !important;
    height: 22px !important;
    cursor: pointer;
}
.ibt{
    margin: 0 0 0 18px !important;
}

.feedheaderleft>.MuiCheckbox-root{
    color:gray !important;
    margin: 0 -30px 0 5px;
}

.feedheaderright{
    display: flex;
    align-items: center;
    color: gray;
    margin: 0 8px 0 0;
}
.feedheaderright>.MuiSvgIcon-root{
    width:  13px !important;
    height: 13px !important;
    margin: 0 25px 0 4px ;
    
    cursor: pointer;
}    
.feedheaderright>p{
    font-size: 11.6px;
    margin: 0 40px 0 15px;
    color: rgb(53, 53, 53);
    font-weight: 420;
}
.emails{
    overflow:auto;
}

.feedmid{
    display: flex;
    border-bottom: solid whitesmoke;   
}

.email-list{
    overflow:auto;
    height: 84vh;
}

/*/////////////////////////////////////////// mail css //////////////////////////////////////////////////////////////////////////////////////////////*/
.mr1,.mr2,.mr3{
    margin:0 0 0 10px;
    border-right:solid whitesmoke thin;
}
.ml{
    padding: 10px;
    height: 80vh;
    overflow: auto;
}
.mlhead{
    display: flex;
    align-items:center ;
}
#sub{
    flex: 0.93;
    padding: 5px 8px 5px 80px;
}
#sub>h4{
    margin: 0;
    font-size: 22px;
    font-weight: 460;
}
#mopt{
    flex: 0.07;
    display: flex;
    justify-content: space-around;
    color: gray;
}
.mailsender{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.mailsender,.mleft{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sinfo{
    padding-left: 10px;
    
    
}

.sinfo>h5{
    margin: 0%;
    font-size: 13px;
    font-weight: 600;
}
.sinfo>p{
    color: gray;
    margin:-4px 0 0 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.sinfo>p>span{
    margin: 0;
    padding: 0%;
}
.sinfo>p>span>.MuiSvgIcon-root{
    margin-bottom: -4px;
    height: 17px !important;
    width:  17px !important;
}
.hidedetails{
    display: none;
}
.showdetails{
    position: absolute;
    box-shadow: 1px 2px rgb(211, 210, 210);
    background-color: white;
    display: flex;
    flex-direction: column;
    color: gray;
    width: 60vh;
    margin-left: 13vh;
    padding: 0 10px 0 10px;
    border: solid gray thin;
}
.showdetails>p{
    margin: 6px 0 6px 10px ;
    font-size: 15px;
    font-weight: 500;
}
.showdetails>p>span{
    font-size: 12px;
    font-weight: 400;
}
.mright{
    display: flex;
    color: gray;
    flex: 0.1;
    align-items: center;
    justify-content: space-between;
}
.mailcontent{
    padding: 30px 270px 20px 270px ;
}
.mailfooter{padding-left: 30px;}
.mailfooter>.MuiButton-root{
    color: gray;
    border:  rgb(223, 223, 223) solid thin !important;
    margin-left: 7px;
}