.header{
    border-bottom: 2px solid whitesmoke;
    height:9vh;
    display:flex;
    justify-content:space-between;
    position: sticky;
    padding: 0 10px 0 10px ;
}
.lefthead{
    display:flex;
    align-items: center;
    margin-left: 18px;
}
.lefthead>img{
    object-fit:contain;
    height: 65px;
}
.midhead{
    padding: 8px;
    display:flex;
    flex: 0.7;
}
.searchbar{
    border-radius: 7px;
    color: rgb(128, 128, 128);
    background-color: whitesmoke;
    display:flex;
    flex: 0.79;
    align-items: center;
    padding:0 16px 0 16px;
}
.searchbar>input{
    font-size:18px;
    font-weight: 400;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}
.righthead{
    display:flex;
    margin-right: 16px;
    align-items: center;
    color: rgb(92, 92, 92);
    justify-content:space-between 90px;
}
.righthead>.MuiSvgIcon-root,.searchbar>.MuiSvgIcon-root{
    margin-left: 18px;
}
#avatar{
    margin-left: 18px;
    height: 33px;
    width: 33px;
}
#avatar:hover{
    cursor: pointer;
}
.hopt{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
    position: absolute;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.164);
    border-radius:10px;
    background-color:rgb(255, 255, 255);
    width: 40vh;
    right:0;
    color: black;
    z-index: 1;
}
.hopt>h3,.hopt>h2{
    margin: 0;
    font-weight: 500;
}
.hopt>h2{
    margin:10px 0 3px 0;
    font-size: 20px;
}
.hopt>h3{
    margin:0 0 10px 0;
    font-size: 15px;
    font-weight:300;
    color: gray;
}
.lout{
    width: 100%;
    border-top:solid rgb(226, 226, 226) thin;
    display: flex;
    justify-content: center;
    padding-top: 7px
 }
 .lout>button{
     font-size:15px;
     padding: 8px 30px 8px 30px; 
     border: none;   
     border-radius:5px;
     background-color:transparent;
     cursor: pointer;
 }
 .lout>button:hover{
     background-color: whitesmoke;
 }

 @media screen and (max-width:700px) {
     .midhead{display:none;}
     .lefthear{
         margin: 0;
     }
     .righthead>.MuiSvgIcon-root,#avatar{
        margin-left: 10px;
    }
     
 }